.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
  background-color: white;
  border: 2px solid #508aa5;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0px;
  padding-top: 1rem;
}

.text {
  margin: 0px;
}

.btn {
  /* transition: all 1s ease-in-out; */
  border: none;
  cursor: pointer;
  background-color: #F78E11;
  font-size: 100%;
  padding: 0.75rem;
}

.btn:active {
  transition: all 0.05s ease-in-out;
  background-color: #508aa5;
}

.Image {
  cursor: pointer;
}