.banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 15rem;
}

.image {
    object-fit: cover;
    width: 50%;
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: aliceblue;
    padding: 5vw;
}

.title {
    font-size: 4vw;
    text-align: center;
    margin: 0px;
}

.text {
    font-size: 1.5vw;
    margin: 0px;
}