@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Silkscreen:wght@400;700&display=swap');

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    min-width: 50vw;
    max-width: 60vw;
    padding: 2rem;
    background-color: #fff;
}

.container {
    border: none;
    border-radius: 0.5rem;
}

.container:not([open]) {
    visibility: hidden;
}

.container::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.row {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    /* outline: 1px solid black; */
    width: 100%;
}

.imgDisplay {
    /* outline: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.itemInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.buttonSection {
    display: flex;
    flex-direction: column;
    align-self: end;
}

.addCartButton {
    background-color: #F78E11;
    color: white;
    border: none;
    padding: 0.3rem;
    height: 2.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}

.quantitySelector {
    outline: 1px solid black;
    padding: 0.3rem;
    height: 2.5rem;
    width: 10rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quantitySelector > div {
    width: 33%;
    text-align: center;
    /* max-height: 100%; */
}

.quantitySelector button {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: white;
    border: none;
    font-size: 1.5rem;
}

.quantitySelector h2 {
    font-size: 2rem;
    margin: 0;
}

.otherInfo {
    /* display: flex; */
    width: 100%;
}

.suggestedProducts {
    /* outline: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}

.suggestedProducts h2 {
    margin-left: 4.8rem;
    margin-bottom: -0.5rem;
}